<!DOCTYPE html>
<html>
<head>
    <title>midi</title>
        <meta charset="utf-8">
        <!-- Nota http://semantic-ui.com fyrir interface -->
                  
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/handlebars.js"></script>
        <link rel="stylesheet" href="css/stylesheet.css" />
</head>
<body>
<div id="search">
      <input type="text" placeholder="Leita" id="filter-search" />
    </div>
   <div id="buttons"></div>
<div id="gallery"> 
<ul class="midi-list"></ul>

<script id="tmpl-midi" type="text/tmpl" >
    {{#each results}}

             <div id="myndir" class="box mynd"  data-tags2={{userGroupName}} title={{eventDateName}} alt={{eventDateName}}  >
             
                   <h2 alt={{eventDateName}}> {{eventDateName}} </h2>
                    <img src={{imageSource}} title={{dateOfShow}} >
                    {{eventHallName}}
            
             </div>

    {{/each}}

</script>
</div>
<script type="application/javascript" src="js/script2.js"></script>
</body>
</html> 